.globalModal {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.globalModal .globalModal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: black;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0px 0px 13px 4px rgba(17, 148, 249, 0.43);
      background-color: #000000;
      margin: 7% auto; /* 15% from the top and centered */
      width: 60%; /* Could be more or less, depending on screen size */
      min-height: 400px;
  
}

.globalModal .close-modal {
  align-self: flex-end;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

