
  .chain {
    position: absolute;
    right: 180px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
  .chain button {
    background-image: url(./../assets/images/REN_Button.png);
    background-size: 100% 100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding: 4px 12px;
    font-size: 14px;
    width: 120px;
    cursor: pointer;
  }
  .chain button:hover {
    -webkit-box-shadow: 0px 0px 13px 4px rgba(17, 148, 249, 0.43);
    -moz-box-shadow: 0px 0px 13px 4px rgba(17, 148, 249, 0.43);
    box-shadow: 0px 0px 13px 4px rgba(17, 148, 249, 0.43);
  }

