.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-50 {
    width: 50%;
}

.w-66 {
    width: 66%;
}

.p-10 {
    padding: 10px;
}

.justify-center {
    justify-content: center;
}

.pt-4{
    padding-top: 4px;
} 

.text-xs{
    font-size: 12px;
}

.w-full {
    width: 100%;
}

.h-64{
    height: 64px;
}