.profile {
    padding: 0px 40px;

    background-color: #000000;
}

.statistic {
    margin-top: 20px;
    font-size: 12px;
    gap: 16px;
}
.statistic>div {
    width: 140px;
    gap: 16px;
}
.elf-card {
    border: 1px solid #454545;
    min-width: 160px;
    font-size: 10px;
    padding: 18px 8px;
    gap: 10px;
}
.elf-card img {
    width: 120px;
    align-self: center;
    border-radius: 80px;
}
.elves {
    gap: 12px;
    overflow-x: auto;
    width: 939px
}

.elves::-webkit-scrollbar-track, .table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.2);
}

.elves::-webkit-scrollbar, .table::-webkit-scrollbar
{
	width: 12px;
    height: 12px;
	background-color: rgba(255,255,255,0.2);
}

.elves::-webkit-scrollbar-thumb, .table::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #333;
}
.table {
  max-width: 999px;
  width: 95%;
  border: 1px solid #454545;
  overflow-y: auto;
  height: 100%;
  max-height: calc(100vh - 570px);
  padding: 12px;
  font-size: 12px;
}
.stats {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 272px;
    height: 236px;
    border: 1px solid #454545;
    padding: 20px 24px 24px 24px;
    font-size: 12px;
    gap: 12px;
}
.stats-label {
    text-align: center;
    font-size: 16px;
    margin-top: -46px;
    height: 30px;
    padding-top: 14px;
    margin-bottom: 40px;
    background-image: url(../../assets/images/stats_back.png);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-claim:disabled {
    opacity: 0.5;
}


.race-darkborne .text-sm:last-child {
    color: #707BC6;
}

.race-lightborne .text-sm:last-child {
    color: #F0D1D7;
}

.race-primeborne .text-sm:last-child {
    color: #A369BD;
}

.race-woodborne .text-sm:last-child {
    color: #D86561;
}