
.faq{
    background-color: black;
}
.faq-container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: black;
}

.heading {
    font-size: 44px;
    font-weight: bold;
    padding-top: 20px;
   
}

.cat {
    font-size: 34px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
}

.subcat {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.question {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 50px;
   text-align: left;
}

.answer {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 140%;
}
