body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase !important;
  color: white;
  background: black;
}
:root {
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background-color: rgba(0,0,0,0)
}

.column {
  flex: 50%;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.h-full {
  height: 100%
}
.w-full {
  width: 100%
}
.dark-500 {
  background-color: rgba(0, 0, 0, 0.7)
}
.dark-1000 {
  background-color: rgba(0, 0, 0, 0.9)
}

.text-white {
  color: white;
}
.text-danger {
  color: var(--neon-text-color);
}
.text-center {
  text-align: center; 
}
.font-size-md {
  font-size: 16px;
}
.font-size-sm {
  font-size: 12px;
}
.font-size-xs {
  font-size: 10px;
}
.btn {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background-size: 100% 100%;
  padding: 12px 36px;
  font-size: 16px;
  min-width: 184px;
  margin: 0px 12px;
  text-align: center;
}
.btn:hover {
  -webkit-text-shadow: 1px 1px 3px cyan;
  -moz-text-shadow: 1px 1px 3px cyan;
  text-shadow: 1px 1px 3px cyan;
  /* color: cyan; */
}
.btn-red {
  background-image: url(./assets/images/btn_back.png);
}
.btn-green {
  background-image: url(./assets/images/btn_next.png);
}
.btn-blue {
  background-image: url(./assets/images/btn_blue.png);
}

.btn-grey {
  background-image: url(./assets/images/REN_Button.png);
}


.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}

.mb-2 {
  margin-bottom: 2rem ;
}

.p-5 {
  padding: 5rem;
}

.p-4 {
  padding: 4rem;
}

.p-3 {
  padding: 3rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-25{
  width: 25%;
}
.w-50 {
  width: 50%;
}

.w-66 {
  width: 66%;
}



.justify-center {
  justify-content: center;
}

.pt-4{
  padding-top: 4px;
} 

.text-xs{
  font-size: 12px;
}

.w-full {
  width: 100%;
}

.h-64{
  height: 64px;
}

.pl-4{
  padding-left: 4px;
}

.p-10 {
  padding: 10px;
}

.justify-between {
  justify-content: space-between;
}

.border-b-2 {
  border-bottom: 2px solid #e6e6e6;
}

.capitalize {
  text-transform: capitalize;
}

.text-sm {
  font-size: 12px;
}

.font-semi-bold {
  font-weight: 600;
}

#text {
  max-width: 8ch;
}

.mt-1 {
  margin-top: 1em;
}
.mt-3 {
  margin-top: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}



.btn-next:disabled,
.btn-prev:disabled {
  cursor: default;
  background: rgba(0, 0, 0, 0.8);
}

.mt-1 {
  margin-top: 6px !important;
}

.dropdown-btn {
  background-color: #00000000;
  border-radius: 5px;
  /*border: 1px solid white;*/
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  box-shadow:
        0 0 .5rem #ccc,
        0 0 0.5rem var(--neon-border-color),
        inset 0 0 0.5rem var(--neon-border-color);
  text-shadow:
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem var(--neon-text-color),
        0 0 4rem var(--neon-text-color),
        0 0 6rem var(--neon-text-color),
        0 0 8rem var(--neon-text-color),
        0 0 10rem var(--neon-text-color);
}

.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #ffffff10;
}

.mul-dropdown {
  position: relative;
  display: inline-block;
}

.mul-dropdown-content {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  /*min-width: 160px;*/
  overflow: auto;
  /*box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);*/
  z-index: 1;
  width: 100%;
  box-shadow:
        0 0 .5rem #ccc,
        0 0 0.5rem var(--neon-border-color),
        inset 0 0 0.5rem var(--neon-border-color);
  box-sizing: border-box;
  padding: 0px;
}

.mul-dropdown-content li {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.mul-dropdown-content li.active {
  background-color: #0088ff7c;
}
.mul-dropdown li:hover {background-color: #0088ff3c;}

